<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <%= bookmark.id %> <a href="<%= bookmark.url %>"><%= bookmark.title %></a><br>
  <% end %>
</ul>
