<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<form action='/bookmarks/delete' method="post">
  <% @bookmarks.each do |bookmark| %>
    <input type="checkbox" id="<%=bookmark.title%>" name="delete[]" value="<%=bookmark.title%>">
    <%= bookmark.id %> <a href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a><br>
  <% end %>
  <input type="submit" value="Delete" />
</form>

<form action='/add_bookmark' method='get'>
  <input type='submit' value='Add Bookmark'>
</form>
